<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Photo</td>
            <td><img src="{{worker.worker_photo.url}}" alt="" width="150" height="150"></td>
        </tr>

        <tr>
            <td>Name</td>
            <td>{{worker.worker_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{worker.worker_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{worker.worker_email}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{worker.worker_gender}}</td>
        </tr>
    </table>
   </form> 
</body>
</html>